body{
    background-image: url('/home/vishnu/Desktop/Kanna/image.png');
    background-repeat: no-repeat;
    background-attachment:fixed ;
    background-size: 100% 100%;
}
h{  
    color:  #42e0c8 ;
    font-size: xx-large;
    text-underline-position: below;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1{   
    color:firebrick;
    }
    h2{
        color:rgb(122, 27, 27);
    }
.c1
{
        color: dimgray;
        background-color: yellow;
        line-height: height 12px;
        font-size: 22px;
        font-family:cursive;
        font-style:italic;
        text-decoration: underline;
        line-height: calc();
        border:1px red solid;
        border-radius:12px;
        border-style: dotted;
    }
a{
    text-decoration: none;
}
a:hover{
    color: darkviolet;
}
a:active{
    color:grey;
}
a:visited{
    color: forestgreen;
}
.c2
{
    color:deeppink;
    background-color: greenyellow;
}
.c3
{
    font-size:23px;
    font-family: cursive;
    font-style: italic;
    text-decoration-color: darkmagenta;
    border-left: darkblue;
    border-right:darkorange;
    border-bottom:darkseagreen;
    border-top: dodgerblue;
    padding: 2px;
    border:2px#42e0c8 solid;
    border-style:dashed;
}
.c3 li{ 
    padding-bottom:5px;
    border-bottom: 8px;
}
.c3 ul{
    list-style:lower-roman;
}
.c4
{
    color: fuchsia;
    border-spacing: 0rem;
    line-height: 22px;
    font-size:23px;
    font-family: cursive;
    font-style: italic;
    text-decoration-color: darkmagenta;
    border-left: darkblue;
    border-right:darkorange;
    border-bottom:darkseagreen;
    border-top: dodgerblue;
    padding: 2px;
}
.c5{
border-right: burlywood;
    border-radius:0vw;
    font-size:23px;
    font-family: cursive;
    font-style: italic;
    text-decoration-color: darkmagenta;
    border-left: darkblue;
    border-right:darkorange;
    border-bottom:darkseagreen;
    border-top: dodgerblue;
    padding:border;
}
.container{
    width:80%;
    margin:auto;
    border: 1px white;

}
    table{
        background-color: hotpink;
    }
    input{
        color:indigo;
    }
.f1{
     padding: 24px;
}
.fg{
     padding-bottom: 25px;
}
.f1 label{
    padding-bottom: 22px;
}
.f1 input [type="text"]{
    padding-right: 21px;
    width: 80%;
}
    button{
        background-color: mediumslateblue;
        color: greenyellow;
    }
 button:hover{
     color:lightcyan;
     }    
 button:active{
      color:maroon;
 }
